.__Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  p {
    font: normal normal bold 35px/76px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 289px;
    height: 40px;
    margin-top: 8px;
    margin-left: 142px;
  }
}
