nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3px 0;

  .__navLinks {
    margin: 0 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;

    a {
      text-decoration: none;
      font: normal normal normal 20px/30px Poppins;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
    }

    button {
      font: normal normal medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      background: #5ac8fa 0% 0% no-repeat padding-box;
      border-radius: 23px;
      opacity: 1;
      width: 156px;
      height: 46px;
      border: none;
      outline-width: 0;
      align-self: flex-start;
      cursor: pointer;
    }
  }

  @media (max-width: 750px) {
    .__navLinks {
      a {
        margin-right: 60px;
      }
    }
  }

  @media (max-width: 500px) {
    height: 12vh;

    .__navLinks {
      width: 200px;

      a {
        margin-right: 30px;
      }
    }
  }

  @media (max-height: 450px) {
    height: 25vh;
  }
}
