$backgroundGradient: transparent
  linear-gradient(180deg, #5ac8fa 0%, #ffffff00 55%) 0% 0% no-repeat padding-box;

$loginFormWidth: 510px;
$loginFormHeight: 494px;
$loginFormBoxShadow: 0px 3px 6px #00000029;
