.__iPhonePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .__iPhoneLargeImg {
    position: absolute;
    top: 140px;
    right: 180px;
  }

  .__pageText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 76px;
    width: 50vw;
    height: 60vh;
    background: transparent linear-gradient(90deg, #f2f2f2 0%, #ffffff00 100%)
      0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0 100px;

    h2 {
      font: normal normal bold 32px/48px Poppins;
      letter-spacing: 0px;
      color: #ff3b30;
      opacity: 1;
      width: 113px;
      height: 45px;
      text-align: left;
    }

    h3 {
      width: 674px;
      height: 250px;
      text-align: left;
      font: normal normal bold 100px/110px Poppins;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
    }

    h4 {
      width: 612px;
      height: 83px;
      text-align: left;
      font: normal normal normal 25px/35px Poppins;
      letter-spacing: 0px;
      color: #999999;
      opacity: 1;
    }

    p {
      width: 612px;
      height: 36px;
      text-align: left;
      font: normal normal normal 14px/35px Poppins;
      letter-spacing: 0px;
      color: #ff3b30;
      opacity: 1;
    }
  }

  .__iPhoneFrontAndBackImg {
    align-self: center;

    img {
      margin: 46px 15px 20px 15px;
    }
  }

  .__bars {
    align-self: center;
    display: flex;

    .__redBar {
      width: 50px;
      height: 9px;
      background: #ff3b30 0% 0% no-repeat padding-box;
      opacity: 1;
    }

    .__grayBar {
      width: 50px;
      height: 9px;
      background: #f2f2f2 0% 0% no-repeat padding-box;
      opacity: 1;
    }
  }

  .__callToAction {
    position: absolute;
    bottom: 100px;
    left: 170px;

    h4 {
      width: 289px;
      height: 62px;
      text-align: left;
      font: normal normal bold 50px/76px Poppins;
      letter-spacing: 0px;
      color: #cccccc;
      opacity: 1;
      margin: 0;
    }

    p {
      width: 130px;
      height: 28px;
      text-align: left;
      font: normal normal 600 20px/30px Poppins;
      letter-spacing: 0px;
      color: #ff3b30;
      opacity: 1;
      margin: 0;
    }
  }

  @media (max-width: 1400px) {
    .__iPhoneLargeImg {
      width: 300px;
      right: 130px;
    }

    .__pageText {
      width: 40vw;
      height: 60vh;

      h2 {
        font-size: 25px;
      }

      h3 {
        font-size: 58px;
        line-height: 80px;
        height: 180px;
      }

      h4 {
        font-size: 23px;
      }

      p {
        font-size: 13px;
      }
    }
  }

  @media (max-width: 1150px) {
    .__iPhoneLargeImg {
      width: 250px;
      right: 80px;
    }

    .__pageText {
      width: 30vw;
      height: 60vh;

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 45px;
        line-height: 60px;
        height: 140px;
      }

      h4 {
        font-size: 19px;
      }

      p {
        font-size: 13px;
      }
    }

    .__callToAction {
      h4 {
        font-size: 35px;
      }
    }
  }

  @media (max-width: 950px) {
    .__iPhoneLargeImg {
      width: 170px;
      right: 90px;
      top: 100px;
    }

    .__pageText {
      margin: 0;
    }

    .__iPhoneFrontAndBackImg {
      align-self: flex-end;
      margin-right: 50px;
    }

    .__bars {
      align-self: flex-end;
      margin-right: 100px;
    }

    .__callToAction {
      left: 40px;
    }
  }

  @media (max-width: 675px) {
    .__iPhoneLargeImg {
      width: 112px;
      right: 60px;
      top: 180px;
    }
    .__pageText {
      width: 25vw;
      height: 60vh;

      h2 {
        font-size: 17px;
      }

      h3 {
        font-size: 35px;
        line-height: 45px;
        height: 109px;
      }

      h4 {
        font-size: 16px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  @media (max-width: 500px) {
    .__pageText {
      padding-left: 7px;
      height: 50vh;

      p {
        font-size: 15px;
      }

      h2 {
        font-size: 21px;
      }

      h3 {
        font-size: 39px;
      }
    }

    .__iPhoneLargeImg {
      width: 100px;
      right: 10px;
      top: 130px;
    }

    .__iPhoneFrontAndBackImg {
      align-self: flex-center;
      margin-right: 90px;
      transform: translateY(-40px);
    }

    .__bars {
      align-self: flex-end;
      margin-right: 145px;
      transform: translateY(-40px);
    }

    .__callToAction {
      left: 110px;
      bottom: 7px;

      h4 {
        font-size: 27px;
        line-height: 90px;
      }

      p {
        font-size: 20px;
        text-align: center;
        margin-left: 10px;
      }
    }
  }
}
